body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
  }

  #game-board {
    background-color: #CCC;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }

  .snake {
    background-color: hsl(46, 100%, 58%);
    border: .25vmin solid rgb(0, 0, 0);
    background: linear-gradient(-45deg, #7107eb, #A663CC, #152ae2, #1476e6);
    animation: gradient 15s ease infinite;
  }
  

  .food {
    background-color: hsl(0, 100%, 50%);
    border: .25vmin solid rgb(0, 0, 0);
  }
  body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #614385, #516395, #C33764, #1D2671);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

canvas{
    box-shadow: black 20px 10px 50px;
}
